= render "partials/alerts"
.py-5.bg-secondary{:style => ""}
  .container
    .row.my-2
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
    .row.my-2
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
    .row.my-2
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
    .row.my-2
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
      .col-md-3
        .card
          %img.card-img-top{:alt => "Card image cap", :src => "https://static.pingendo.com/cover-moon.svg"}/
          .card-body
            %h4.card-title Articulo # n
            %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
            .text-right
              %a.btn.btn-secondary{:contenteditable => "true", :href => "#"}
                %i.fa.fa-user.fa-shopping-cart
                Agregar
